
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  overflow-x: hidden;
  background-color: #131313;
  font-family: 'Poppins', sans-serif;
  overflow-y: unset !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
 padding: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  z-index: 1;
  width: 101px;
  transition: all 0.5s;
  padding: 0 15px;
  background: #131313;
  overflow-y: auto;
  border-right: 1px solid #3F3F46;
  padding-top: 45px;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 100px;
  padding-top: 73px;
}

.profile_dropdown ul{
  list-style: none;
  display: flex;
}

.profile_dropdown .display-picture span {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  margin-left: 16px;
}

.profile_dropdown .display-picture svg {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  color: #fff;
}

.profile_dropdown .display-picture img{
  width: 32px;
  border-radius: 50%;
}

.profile_dropdown .card{
  transition: 0.5s ease;
  border: 0;
}

.profile_dropdown .card ul {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 20px;
  left: 0;
  border-radius: 8px;
  background: rgb(24 24 27);
  overflow: hidden;
}

.profile_dropdown .card ul li {
  padding: 0;
}

.profile_dropdown .card ul li a {
  display: block;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
}

.profile_dropdown .card ul li a:hover {
  background: rgb(55 65 81);
}

.profile_dropdown .card ul li a img {
  width: 20px;
  padding-right: 5px;
}

.profile_dropdown .hidden{
  display: none;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 15px;
  list-style: none;
}

.nav-menu>ul>li:last-child {
  margin-bottom: 0px;
}

.nav-menu ul li a {
  width: 70px;
  height: 70px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  color: #fff;
  gap: 3px;
}
.nav-menu ul li a:hover {
  color: #fff;
  background: #3F3F46;
}

.nav-menu ul li a span {
  display: block;
  font-size: 13px;
  line-height: 1.25;
  font-weight: 500;
}




/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs_top {
  width: 100%;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  background-color: #131313;
  border-bottom: 1px solid #3F3F46;
}

.breadcrumbs_top .logo a img {
  width: 45%;
}

.breadcrumbs_top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs_top ul li {
  padding-left: 10px;
}

.breadcrumbs_top ul li .register_btn {
  width: 90px;
  padding: 5px 20px;
  border: 2px solid #B473E0;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #B473E0;
  line-height: 1.25;
}

.breadcrumbs_top ul li .login_btn {
  width: 90px;
  padding: 5px 20px;
  border: 2px solid #B473E0;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  background: #B473E0;
  font-weight: 600;
  color: #fff;
  line-height: 1.25;
}

@media (max-width: 768px) {
  .breadcrumbs_top ul {
    display: block;
  }

  .breadcrumbs_top ul li {
    display: inline-block;
  }
  #loading-progress {
    position: absolute;
    margin: 0;
    color: #B473E0;
    left: 0;
    right: 0;
    height: 79%;
    top: -16px !important;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 35px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 20px 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100px;
  z-index: 9;
  /* background: #131313; */
}

.footer_content ul {
  margin: 0;
  padding: 0;
}

.footer_content ul li {
  list-style: none;
  display: block;
  text-align: center;
}

.footer_content .social_txt li a {
  color: #f4f6fd;
  font-size: 14px;
  width: 70px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 6px 0px;
  margin-bottom: 8px;
}
.footer_content .social_txt li a:hover {
  color: #f4f6fd;
  background: #374151;
}

.footer_content .links li a {
  color: #f4f6fd;
  font-size: 8px;
}

@media (max-width: 1199px) {
  #footer {
    width: 100%;
    bottom: 0;
    border-top: 1px solid;
    display: none;
  }
  .footer_content {
    text-align: center;
  }
  .footer_content ul li {
    display: inline-block;
    margin: 0px 6px;
  }
  .type_message input {
    width: 100%;
    background: #252525;
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 12px 15px;
    outline: none;
    padding-right: 106px !important;
}
textarea#type_message {
  resize: vertical;
  width: 100%;
  background: #252525;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 12px 15px;
  outline: none;
  height: 46px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 106px !important;
}
}

.current_plan_box {
  /* background: linear-gradient(90deg,#2a1522,#1d1d1d); */
  /* background: linear-gradient(90deg, #B473E0 0%, #B473E0 100%); */
  background: linear-gradient(91deg, #B473E0 -130%, #1d1d1d 81%);
  border: 1px solid rgb(64 64 64);
  border-radius: 10px;
  margin: 70px 0px !important;
  margin-top: 25px !important;
}

div#pay_txt p {
  margin: 5px;
}

section.own_ai_section {
  margin-top: 24px;
  position: relative;
}

.own_ai_container {
  max-width: 1320px;
  margin: auto;
}

.own_ai_box {
  display: block;
  /* background: linear-gradient(90deg,#4d1d28,#1f1f1f 37.35%); */
  background: linear-gradient(90deg, rgba(180, 115, 224, 0.5) 0%, #000 50%, rgba(140, 115, 224, 0.5) 100%);
  padding-left: 68px;
  padding-right: 68px;
  border: 1px solid #282828;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.own_ai_txt {
  margin: 40px 0px;
}

.own_ai_txt h2 {
  line-height: 2.5rem;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.own_ai_txt h2 span {
  color: #B473E0;
}

.own_ai_txt p {
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 171.43%;
  color: #fff;
}

.own_ai_txt .ai_btn {
  background: var(--Gradient,linear-gradient(268deg,#B473E0 -14.8%,#B473E0 102.08%));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 180px;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.own_ai_txt .ai_btn img {
  margin-right: 5px;
}

.own_ai_img {
  position: relative;
}

.own_ai_img .Girlfriend {
  position: absolute;
  left: 7%;
  /* top: -30px; */
}

img.red-cross-aee {
  position: absolute;
  right: -40px;
  top: 24px;
  z-index: 9;
}
.own_ai_img svg {
  width: 378px;
  position: absolute;
}

.own_ai_img_bg {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(190 24 93);
  width: 269px;
  height: 238px;
  z-index: 9;
  opacity: 0.6;
  filter: blur(200px);
}


/*------------------------------------------------
#Explore AI Characters
--------------------------------------------*/

.explore_ai_characters {
  width: 100%;
  padding: 25px 0px;
}
.explore_ai_title {
  text-align: center;
}
.explore_ai_title h2 {
  line-height: 2.5rem;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.explore_ai_title h2 span {
  color: #B473E0;
}

#portfolio-flters {
  margin: 20px 0px 0px;
  padding: 0;
}

#portfolio-flters li {
  list-style: none;
  padding: 10px 16px;
  display: inline-block;
  background: #262626;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
#portfolio-flters li.filter-active {
  background: #B473E0;
}

.portfolio-container {
  margin-top: 20px;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in;
  margin-bottom: 25px;
}

.portfolio-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  background: linear-gradient(#0000,#0e0e0eb3);
  pointer-events: none;
  z-index: 1;
}

.portfolio-wrap {
  border-radius: 10px;
}

.hover_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease-in;
}
.portfolio-wrap:hover .hover_img {
  opacity: 1;
}

.chat_icon {
  position: absolute;
  top: 10px;
  right: 5%;
  z-index: 2;
}
.chat_icon span {
  width: 40px;
  height: 40px;
  /* background: #f66b83; */
  background: #B473E0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}

.portfolio-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 16px;
  z-index: 2;
}
.portfolio-info h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #fff;
}
.portfolio-info span {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

.portfolio-info p {
  font-size: 14px;
  line-height: 20px;
  opacity: .8;
  font-weight: 500;
  color: #fff;
}
/*------------------------------------------------
#Explore AI Characters End
--------------------------------------------*/

/*--------------------------------------------
#Sign Page Start 
-------------------------------------------*/
.form_section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account_box {
  max-width: 430px;
  margin: auto;
}
.welcome_to_halochat {
  text-align: center;
}

.welcome_to_halochat h5 {
  font-size: 22px;
  line-height: 2;
  font-weight: 600;
  color: #fff;
}

.welcome_to_halochat span {
  color: #fff;
}
.form_sing_up {
  margin-top: 24px;
  background-color: rgb(28 25 23);
  border: 1px solid rgb(64 64 64);
  border-radius: 8px;
  padding: 48px;
}
.org {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.org hr {
  color: #fff;
  opacity: 1;
  border-color: #fff;
  width: 110px;
  margin: 30px 0px;
}

.sign_in_google_btn img {
  width: 100%;
}
.sign_in_google_btn span {
  color: #fff;
}

.contact_details {
  position: relative;
  margin-bottom: 25px;
}

.contact_details input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
  border: 1px solid rgb(64 64 64);
  background: none;
}
.contact_details input:focus-visible {
  border: 1px solid #2563eb;
  outline: none;

}

.contact_details svg {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
img.eye-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  cursor: pointer;
}
img.lock-icon {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
}
.contact_details button {
  width: 100%;
  border: 0;
  padding: 14px;
  border-radius: 10px;
  background: #B473E0;
  color: #fff;
}
.contact_details span {
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-top: 8px;
  color: rgb(107 114 128);
  display: block;
}

.contact_details span a {
  color: rgb(107 114 128);
  text-decoration: underline;
}

.account-yet p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border-top: 2px solid rgb(107 114 128);
  padding-top: 20px;
}

.account-yet p a {
  line-height: 1.5;
  font-weight: 600;
  color: #B473E0;
}

.forgot-password a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  color: #fff;
  margin-top: -12px;
  padding-bottom: 12px;
}

/*--------------------------------------------
#Sign Page End 
-------------------------------------------*/

/*--------------------------------------------
#Chat Page Start 
-------------------------------------------*/
.all_details_box {
  display: flex;
  flex-direction: row-reverse;
}
.chat-menu {
  background: #1A1A1A;
  width: 345px;
  padding: 20px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding-top: 90px;
}
.chat-title h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 24px;
  margin-bottom: 12px;
}
form.search-form {
  position: relative;
}
form.search-form input {
  width: 100%;
  background: rgb(38 38 38);
  border: 0;
  height: 48px;
  padding-left: 32px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255 255 255);
}
form.search-form svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  color: rgb(255, 255, 255, 0.5);
}

.chat-admin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #545353;
  margin-top: 8px;
  border-radius: 5px;
  background: #303030;
}

#start-chat {
  background: none;
  border: 0;
}

.chat-profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.chat-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.admin_deatail {
  width: 60%;
}

.admin_deatail h6 {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}

.admin_deatail p {
  font-size: 13px;
  color: #fff;
  opacity: 0.6;
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.chat_delete {
  width: 16%;
  text-align: end;
}

.chat_delete p {
  margin: 0;
  color: #A4A4A4;
  font-size: 14px;
}
.chat_delete p a {
  color: #A4A4A4;
}
.chat_delete p a:hover {
  color: #fff;
}

.start_chat_part {
  width: 100%;
}

.start_chat_part .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
} 
/* * ==== SIDEBAR ==== */
.start_chat_part .sidebar {
  transition: all 0.3s;
  max-width: 400px;
  background: #1A1A1A;
  border-left: 1px solid;
  padding-top: 73px;
  box-shadow: 0 0 5px #000000;
}
.start_chat_part .sidebar.isClosed {
  display: none !important;
}

.start_chat_part .sidebar ul.nav.isClosed {
  display: none;
}

.chat-profile-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: #131313;
  border-bottom: 1px solid #3F3F46;
  padding: 18px 20px;
}

.toggle-button-right {
  cursor: pointer;
  margin-right: 20px;
}
/* * ==== CONTENT ==== */
.start_chat_part .content {
  height: 100vh;
  flex-grow: 9;
  padding: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
  position: sticky;
  top: 0;
  width: 75%;
  padding-top: 73px;
}


.asuna-saito {
  display: flex;
  align-items: center;
}

.asuna-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.asuna-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.asuna-name h6 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  padding-left: 20px;
}
.searchbar-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 15px;
}

.searchbar-footer .suggestion {
  margin: 0;
  padding: 0;
}
.searchbar-footer .suggestion li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
.searchbar-footer .suggestion li a {
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  padding: 3px;
  border: 2px solid #A78BFA;
}
.type_message {
  width: 100%;
  position: relative;
  padding: 10px 0px;
}
.type_message form {
  display: flex;
  position: relative;
}
.type_message input {
  width: 100%;
  background: #252525;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 12px 15px;
  outline: none;
}

.type_message input::placeholder {
  color: #E0E0E0;
}

.type_message button {
  border: 0;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background: #B473E0;
  margin-left: 10px;
}

.type_message .dropdown {
  position: absolute;
  right: 65px;
  top: 9px;
}

.dropdown-menu.show {
  display: block;
  inset: auto 0 0 auto!important;
  margin: 10px 0px !important;
  padding: 0px;
  overflow: hidden;
}
.dropdown-menu li a {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  padding: 6px 16px;
  border-bottom: 2px solid rgb(64 64 64);
  display: block;
}
.dropdown-menu li:last-child a {
  border-bottom: 0;
}
.dropdown-menu li a:hover {
  background: rgb(39 39 42);
  color: white;
}

/* .chat_content {
  width: 100%;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75%;
} */

.chat_content {
  width: 100%;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75%;
}

/* Add this CSS rule to ensure the content starts at the top */
.chat_content {
  scroll-behavior: auto;
}


.chat_content::-webkit-scrollbar {
  width: 5px;
}
 
.chat_content::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 10px;
}

.chat_content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background: rgb(39 39 42); 
}

.chat_content_box {
  /* background: rgb(217 132 145); */
  background: #B473E0;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat_content_box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin: 0;
  
}
.send_message {
  width: 100%;
  padding: 16px 25px;
  border-radius: 15px 0 15px 15px;
  /* margin: 30px 0px; */
  text-align: end;
}
.send_message p {
  background: rgb(38 38 38);
  font-weight: 500;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 0 15px 15px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin: 0;
}
.chat_content_img {
  width: 100%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  opacity: 0;
  animation: product-load 0.5s 0.5s forwards;
  -webkit-animation: product-load 0.5s 0.5s forwards;
  -moz-animation: product-load 0.5s 0.5s forwards;
}
@keyframes product-load {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.chat_content_img img {
  background: #B473E0;
  padding: 30px 20px 20px 20px;
  border-radius: 0px 10px 10px 10px;
  width: 50%;
}
.chat_content_box .volume {
  background: #F0CED3;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
  min-width: 35px;
}

.chat_content_box .volume span {
  background: #fff;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.chat_content_box .volume svg {
  color: #C14DA0;
}

.have_we_met {
  display: flex;
}

.message_feedback {
  padding-left: 10px;
  display: flex;
}


.message_feedback a {
  background: rgb(24 24 27);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 50%;
}

.type_message #dropdownMenuButton1 {
  background: rgb(64 64 64);
  padding: 2px 6px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  line-height: 1.25;
  color: #fff;
  outline: none;
}

.type_message #dropdownMenuButton1:focus {
  outline: none;
}

.dropdown-menu {
  background: rgb(24 24 27);
  padding: 14px 14px;
}

button.carousel-control-prev {
  width: 38px;
  height: 38px;
  bottom: 0;
  margin: auto;
  background: rgba(115, 115, 155, 0.3);
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 8px;
  opacity: 1;
  left: 20px;
}

button.carousel-control-next {
  width: 38px;
  height: 38px;
  bottom: 0;
  margin: auto;
  background: rgba(115, 115, 155, 0.3);
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 8px;
  opacity: 1;
  right: 20px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.waitress {
  padding: 24px;
}

.waitress h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #fff;
}
.waitress p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin: 0;
}

.attributes_box {
  border-top: 2px solid rgb(255, 255, 255, 0.2);
  padding: 24px;
}

.attributes_box h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(163, 163, 163, 1);
  margin-bottom: 24px;
}

/* .attributes_item {
  width: 49%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 0px;
} */

.attributes_item {
  width: 49%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 0px;
  flex-direction: column;
}

.attributes_item .attributes_icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .attributes_item .attributes_txt {
  margin-left: 8px;
} */

/* .attributes_item .attributes_txt span {
  text-transform: uppercase;
  line-height: 14px;
  font-size: 11px;
  color: rgb(161, 161, 170, 1);
  display: block;
} */

.attributes_item .attributes_txt span {
  text-transform: uppercase;
  /* line-height: 14px; */
  font-size: 11px;
  color: rgb(161, 161, 170, 1);
  display: block;
  display: flex !important;
  justify-content: space-around;
}
.attributes_item .attributes_txt h6 {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.25;
  color: rgb(255, 255, 255, 1);
}

/*--------------------------------------------
#Chat Page End 
-------------------------------------------*/
/*--------------------------------------
#subscribe_section
--------------------------------------*/
.subscribe_section {
  width: 100%;
  /* background: linear-gradient(90deg,#4d1d28 .9%,#4d1d2800); */
  background: linear-gradient(90deg, rgba(180, 115, 224, 0.9) 0%, rgba(180, 115, 224, 0) 100%);
  padding: 5px 0px;
  position: fixed;
  z-index: 1;
  top: 78px;
}

.subscribe-item {
  display: flex;
  align-items: center;
}

.subscribe-item p {
  font-size: 16px;
  letter-spacing: .1em;
  font-weight: 800;
  color: #fff;
  margin: 0;
  padding-left: 12px;
  padding-top: 3px;
}
.subscribe-item h6 {
  line-height: 1.25;
  /* background: linear-gradient(268deg,#fc768a -14.8%,#e65073 102.08%); */
  background: linear-gradient(268deg, #B473E0 -14.8%, #B473E0 102.08%);
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin: auto;
}

.subscribe-item .clock {
  font-size: 16px;
  letter-spacing: 7px;
  background: rgb(64 64 64);
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  margin-left: auto;
}
.choose_plan {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.choose_title {
  text-align: center;
}
.choose_title h2 {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  line-height: 42px;
}
.choose_title p {
  font-size: 14px;
  color: rgb(163 163 163);
  font-weight: 500;
  line-height: 20px;
}

.plans_box {
  background: rgb(24 24 27);
  border: 1px solid rgb(39 39 42);
  border-radius: 10px;
  padding: 50px 0px 0px 50px;
  margin-top: 50px;
  position: relative;
}

.discount_box .discount_only_today h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #B473E0;
  width: 68%;
}
.discount_box .discount_only_today p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  color: #fff;
  font-weight: 400;
}
.discount_box .discount_only_today p span {
  color: #B473E0;
  font-weight: 600;
}

.discount_box .discount_only_today img {
  max-width: 80%;
  margin: auto;
}

.discount_box ul#myTab {
  display: block;
  border: 0;
}

.discount_box .nav-tabs .nav-link {
  width: 100%;
  padding: 0;
  border: 0;
  margin-bottom: 30px;
  text-align: start;
}
.discount_box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: none;
  border: 0;
}

.discount_box .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border: 0;
}

.pricing_box {
  /* background: linear-gradient(90deg,#4d1d28 .9%,#4d1d2800); */
  background: linear-gradient(90deg, rgba(180, 115, 224, 0.9) -100%, rgba(180, 115, 224, 0) 100%);
  border: 1px solid #282828;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.nav-tabs .nav-link.active .pricing_box {
  border: 2px solid #B473E0;
}

.offer_box {
  background: #B473E0;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  position: absolute;
  top: -12px;
}

.pricing_box h6 {
  font-size: 16px;
  font-weight: 600;
  color: #B473E0
}
.pricing_box h3 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: #fff;
  margin-top: 10px;
}
.pricing_box span {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  opacity: 0.6;
}
.pricing_box small {
  font-size: 14px;
  font-weight: 500;
}
.pricing_box p {
  font-size: 12px;
  line-height: 20px;
  color: rgb(211 215 223);
  margin: 0;
  margin-top: 10px;
}
.pupular_plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pupular_btn {
  padding: 6px 10px;
  border-radius: 20px;
  border: 1px solid #B473E0;
  background: linear-gradient(268deg,#B473E0 -14.8%,#252525 102.08%);
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.25;
  color: rgb(255 204 212);
  gap: 4px;
}

.pay_btn {
  width: 100%;
  padding: 12px 16px;
  background: rgb(64 64 64);
  border-radius: 8px;
  margin-bottom: 14px;
  text-align: center;
}

.pay_btn:last-child {
  margin-bottom: 0;
}

.pay_btn a {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;
}

#paypal {
  background: rgb(252 211 77);
  color: rgb(30 58 138);
}

#paypal a {
  color: rgb(30 58 138);
}

.benefit h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 1.5rem;
  color: rgb(163 163 163);
}

.benefit ul {
  margin: 0;
  padding: 0;
}
.benefit ul li {
  list-style: none;
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 20px;
}
.benefit ul li img {
  margin-right: 8px;
}

.privacy_bank {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 40px 0px;
}
.antivirus {
  display: flex;
  align-items: center;
}

.antivirus span {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: rgb(163 163 163);
}

.antivirus span img {
  margin-right: 5px;
}

/*---------------------------------------------
#Terms of service
---------------------------------------------*/

section.terms-of-services {
  width: 100%;
  padding: 40px 0px;
}
.services_content h2 {
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}
.services_content h5 {
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}
.terms_txt {
  width: 100%;
  margin-top: 50px;
}
.terms_txt strong {
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  font-weight: 600;

}

.terms_txt p {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 0;
}

.terms_txt ul {
  margin-top: 20px;
  padding: 0;
}

.terms_txt ul li {
  list-style: none;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  line-height: 1.5;
}

/*--------------------------------
#contact_popup
------------------------------*/

.contact_popup .modal-dialog.modal-dialog-centered {
  justify-content: center;
}

.contact_popup .modal-content {
  background: rgb(28 25 23);
  border: 1px solid rgb(64 64 64);
  padding: 10px;
  position: relative;
  max-width: 80%;
}

.contact_popup .contact_details {
  width: 100%;
}
.contact_popup .contact_details h5 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #fff;
}
.contact_popup .contact_details p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  opacity: 0.5;
}
.contact_popup .contact_details form textarea {
  background: rgb(38 38 38);
  border: 1px solid rgb(64 64 64);
  outline: none;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}
.contact_popup .modal-header {
  border: 0;
  position: absolute;
  right: 30px;
  padding: 0;
  z-index: 1;
  top: 30px;
}

.contact_popup .modal-header .btn-close {
  background-image: url(../img/cross_btn.svg);
  opacity: 1;
  padding: 0;
}

/*--------------------------------
#contact_popup
------------------------------*/


/*--------------------------------
#send_popup
------------------------------*/

.send_popup .modal-header {
  border: 0;
  position: absolute;
  right: 30px;
  padding: 0;
  z-index: 1;
  top: 30px;
}

.send_popup .modal-header .btn-close {
  background-image: url(../img/cross_btn.svg);
  opacity: 1;
  padding: 0;
}

.send_popup .modal-content {
  background: rgb(28 25 23);
  border: 1px solid rgb(64 64 64);
  position: relative;
  overflow: hidden;
  height: 415px;
}
.send_popup .generation_content {
  width: 50%;
  padding-top: 30px;
}

.send_popup .generation_content h6 {
  font-size: 24px;
  color: rgb(255 255 255);
  font-weight: 300;
}

.send_popup .generation_content h5 {
  font-size: 24px;
  color: rgb(255 255 255);
  font-weight: 600;
}

.send_popup .generation_content strong {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  display: block;
  margin-top: 10px;
}
.send_popup .generation_content p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
  margin: 10px 0px;
}
.send_popup .generation_content ul {
  margin: 0;
  padding: 0;
}
.send_popup .generation_content ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  color: #fff;
  margin-bottom: 10px;
}

.send_popup .generation_content a {
  background: linear-gradient(268deg,#fc768a -14.8%,#e65073 102.08%);
  padding: 12px 16px;
  display: inline-block;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;
  margin-top: 35px;
}

.send_popup .image_generation {
  width: 100%;
  display: flex;
}
.send_popup .generation-img {
  width: 50%;
}
.send_popup .generation-img img {
  width: 92%;
  position: relative;
  margin-top: -60px;
}
.send_popup .modal-body {
  padding: 0;
}


/*--------------------------------
#send_popup
------------------------------*/

/*--------------------------------
#how_to_use_popup
------------------------------*/

.how_to_use_popup .modal-dialog.modal-dialog-centered {
  justify-content: center;
}

.how_to_use_popup .modal-content {
  background: rgb(24 24 27);
  border: 1px solid rgb(39 39 42);
  position: relative;
  max-width: 70%;
}

.how_to_use_popup .modal-header {
  border-color: rgb(39 39 42);
}

.how_to_use_popup .modal-header h5 {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
}
.how_to_use_popup .modal-header h5 img{
  width: 25px;
}

.how_to_use_popup .modal-header .btn-close {
  background-image: url(../img/cross_btn.svg);
  opacity: 1;
  padding: 0;
}

.prompt_for_image h6 {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 10px;
}
.prompt_for_image p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
}
.prompt_for_image ul {
  padding-left: 18px;
  margin: 0;
}
.prompt_for_image ul li {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
}
.pasination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.pasination p {
  margin: 0;
}
.pasination a {
  padding: 8px 16px;
  background: #B473E0;
  border-radius: 8px;
  display: inline-block;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
}
/*--------------------------------
#how_to_use_popup
------------------------------*/

/*---------------------------------
#gallery Page Start
----------------------------------*/
section.gallery_section {
  width: 100%;
  padding-left: 30px;
}
.pictures_limit {
  /* background: linear-gradient(90deg,#2a1522,#1d1d1d); */
  /* background: linear-gradient(90deg, #B473E0 0%, #B473E0 100%); */
  background: linear-gradient(91deg, #B473E0 -130%, #1d1d1d 81%);
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;
}
.limit_txt{
  display: flex;
}
.limit_txt h3 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: #fff;
  padding-right: 10px;
}
.limit_txt span {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: #B473E0;
  display: inline-block;
}
.limit_txt .become_premium_btn {
  background-image: linear-gradient(90deg, #B473E0, #B473E0);
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  display: inline-block;
}
.limit_txt .become_premium_btn img {
  width: 24px;
  opacity: 0.5;
  margin-right: 10px;
}
.pictures_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.pictures_head h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: #fff;
}
.pictures_head h2 span {
  opacity: 0.6;
  font-weight: 500;
}
.pictures_head .see_btn {
  font-size: 14px;
  color: #B473E0;
  font-weight: 600;
  line-height: 1.25;
  padding: 12px 16px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #B473E0;
}
.pictures_head .see_btn:hover {
  background: #B473E0;
  color: #fff;
}
.pictures_item img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.gallery_popup .modal-content {
  overflow: hidden;
}
.gallery_popup .modal-header {
  position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 0;
}
.gallery_popup .modal-body {
  padding: 0;
}
.gallery_popup .gallery_popup_img img {
  width: 100%;
}

.gallery_popup .btn-close {
  background-image: url(../img/cross_btn.svg);
  opacity: 1;
  font-size: 20px;
}
.btn-close:focus {
  outline: none;
  box-shadow: unset;
}
/*---------------------------------
#gallery Page End
----------------------------------*/


/*---------------------------------
#Profile Setting Page End
----------------------------------*/
.profile_setting {
  width: 100%;
}

.profile_title {
  text-align: center;
  margin: 40px 0px;
}

.profile_title h2 { 
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  line-height: 42px;
}
.admin_profile_box {
  background: rgb(24 24 27);
  border: 1px solid rgb(39 39 42);
  border-radius: 10px;
  position: relative;
}
.admin_details {
  border-bottom: 2px solid rgb(64 64 64);
  padding: 32px;
}
.admin_name {
  margin-bottom: 20px;
}
.admin_name h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(163 163 163);
  padding-right: 8px;
}
.admin_name a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin_name h6 {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  line-height: 20px;
}
.nickname {
  display: flex;
  margin-bottom: 5px;
}
.admin_details h3 {
  font-size: 16px;
  line-height: 1.625;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}
.checkbox_circle {
  display: flex;
  align-items: start;
  margin-top: 10px;
  position: relative;
}
.checkbox_circle label {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
  color: #fff;
  padding-left: 25px;
}

.checkbox_circle [type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: 0;
  top: 2px;
}

.edit_popup .modal-dialog {
  max-width: 356px;
}
.edit_popup .modal-content {
  background: rgb(28 25 23);
  padding: 0 33px;
}
.edit_popup .modal-header h5 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 8px;
}
.edit_popup .modal-header .btn-close {
  position: absolute;
  top: 12px;
  right: 20px;
  background: url(../img/cross_btn.svg);
  background-repeat: no-repeat;
  padding: 0;
  opacity: 1;
}
.edit_popup .modal-header {
  padding: 0;
  border: 0;
}
.edit_popup .modal-body {
  padding: 0;
}

.edit_popup .edit_details {
  width: 100%;
}
.edit_popup .edit_txt {
  position: relative;
  margin-top: 25px;
}
.edit_popup .edit_details .edit_txt input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: none;
  border-radius: 8px;
  color: #fff;
}

.edit_details .edit_txt select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: none;
  border-radius: 8px;
  color: #fff;
  position: relative;
  appearance: none;
  background-image: url("../img/arrow-select.svg");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
}

.edit_details .edit_txt select option {
  color: #fff;
  background: #1c1917;
}

.edit_popup .edit_details .edit_txt input:focus, .edit_details .edit_txt select:focus {
  border: 1px solid #2563eb;
  outline: none;
}

.edit_popup .edit_txt .edit_icon_left {
  position: absolute;
  top: 0;
  left: 10px;
  display: inline-block;
  transform: translate(0px, 40%);
}
.edit_popup .edit_txt .edit_icon_right {
  position: absolute;
  top: 0px;
  right: 10px;
  display: inline-block;
  transform: translate(0px, 40%);
}

.edit_popup .edit_txt button {
  padding: 12px 16px;
  display: inline-block;
  border: 0;
  outline: 0;
  width: 100%;
  border-radius: 10px;
  /* background: rgb(231 82 117); */
  background: #B473E0;
  color: #fff;
  margin-bottom: 30px;
}

.admin_profile_box .admin_details:last-child {
  border-bottom: 0;
}

.admin_details p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
  color: #fff;
  margin: 0;
}

.admin_details .delete_btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #B473E0;
  border-radius: 10px;
  color: rgb(214 211 209);
  margin-top: 15px;
}

.current_plan_box {
  /* background: linear-gradient(90deg,#2a1522,#1d1d1d); */
  /* background: linear-gradient(90deg, #B473E0 0%, #B473E0 100%); */
  background: linear-gradient(91deg, #B473E0 -130%, #1d1d1d 81%);
  border: 1px solid rgb(64 64 64);
  border-radius: 10px;
  margin: 40px 0px;
}

.current_plan_txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
  padding: 32px;
}
.current_plan_txt:last-child {
  border-bottom: 0;
}
.current_plan_txt h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625;
  color: rgb(255 255 255);
}

.current_plan_txt h6 span {
  padding-left: 5px;
  color: #B473E0;
}

a.change_plan_btn {
  padding: 8px 16px;
  background: rgb(64 64 64);
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}

#pay_txt {
  justify-content: space-around;
}
#pay_txt p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  color: rgb(163 163 163);
}

#pay_txt p span {
  color: #fff;
}

/*---------------------------------
#Profile Setting Page End
----------------------------------*/
@media (min-width: 414px) and (max-width: 736px) {
  .edit_popup .modal-dialog {
    max-width: 395px;
  }
}


@media (max-width: 1199px) {
  #header {
    left: 0;
    bottom: 0;
    top: unset;
    width: 100%;
    z-index: 999;
    /* background: linear-gradient(90deg,#2a1522,#1d1d1d); */
    background: linear-gradient(91deg, #B473E0 -130%, #1d1d1d 81%);
    padding-top: 0;
  }
  .nav-menu>ul>li {
    display: inline-block;
    margin-bottom: 0;
  }

  #main {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 0 !important; 
  }

  .searchbar-footer {
    position: fixed;
    bottom: 45px;
    left: 0;
    width: 100%;
    padding: 0px 15px;
}

  .nav-menu ul li a {
    width: unset;
    height: unset;
    border: unset;
    display: unset;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: unset;
    color: #fff;
    gap: unset;
  }
  .nav-menu {
    padding: 16px 0px;
    width: 100%;
  }
  .nav-menu ul li a span {
    display: none;
  }
  .own_ai_txt {
    margin: 0;
  }
  .nav-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* .start_chat_part {
    display: none;
  } */
  .chat-menu {
    width: 100%;
  }
  .plans_box {
    padding: 30px;
  }
  .discount_box .discount_only_today h3 {
    font-size: 18px;
    width: 100%;
    padding-top: 30px;
}
  section.gallery_section {
    padding-left: 0px;
  }

}

@media (max-width: 991px) {
  .own_ai_img .Girlfriend {
    left: -30px;
    opacity: 0.70;
  }
  .own_ai_img svg {
    width: 100%;
  }
  .own_ai_box {
    height: 295px;
  }
  .form_section {
    height: unset;
    margin-top: 10%;
  }
  .limit_txt {
    display: block;
    text-align: center;
  }
  .limit_txt h3 {
    font-size: 14px;
    line-height: 24px;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .limit_txt span {
    font-size: 14px;
    line-height: 24px;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .limit_txt .become_premium_btn {
    display: block;
  }
  .pictures_head h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .pictures_head {
    display: block;
  }
  .pictures_head .see_btn {
    display: block;
    text-align: center;
  }
  .admin_img {
    text-align: center;
    margin-bottom: 40px;
  }
  .admin_details {
    padding: 24px;
  }
}

@media (max-width: 767px) {
.explore_ai_title h2 {
  font-size: 22px;
}
.own_ai_img svg {
  display: none;
}
.own_ai_img_bg {
  display: none;
}
img.red-cross-aee {
  display: none;
}
.own_ai_txt p {
  display: none;
}
.own_ai_box {
  height: 160px;
  padding: 20px;
}
.own_ai_txt h2 {
  font-size: 18px;
  line-height: 30px;
}
.own_ai_txt .ai_btn {
  margin-top: 16px;
}
.own_ai_img .Girlfriend {
  right: -60px;
  opacity: 1;
  position: absolute;
  top: -20px;
  width: 250px;
  left: unset;
}
.account_box {
  max-width: 100%;
}
.current_plan_txt {
  display: block;
}
a.change_plan_btn {
  margin-top: 30px;
}
.hover_img {
  position: absolute;
  top: unset;
  left: unset;
  z-index: unset;
  opacity: unset;
  transition: unset;
}
.portfolio-wrap:hover .hover_img {
  opacity: unset;
}
.subscribe_section {
  width: 100%;
  /* background: linear-gradient(90deg,#4d1d28 .9%,#4d1d2800); */
  background: linear-gradient(90deg, rgba(180, 115, 224, 0.9) 0%, rgba(180, 115, 224, 0) 100%);
  padding: 5px 0px;
  position: fixed;
  z-index: 1;
  top: 60px;
}
}

@media (max-width: 575px) {
  .breadcrumbs_top {
    padding: 10px 0px;
  }
  .breadcrumbs_top .logo a img {
    width: 145px;
  }
  .profile_dropdown .display-picture span {
    margin-left: 5px;
  }
  .breadcrumbs_top ul li .register_btn {
    width: 70px;
    padding: 0px 5px;
    height: 1.8rem;
    font-size: 10px;
  }
  .breadcrumbs_top ul li .login_btn {
    width: 70px;
    padding: 0px 5px;
    height: 1.8rem;
    font-size: 10px;
  }
  .breadcrumbs_top ul li {
    padding-left: 4px;
  }
  .org hr {
    width: 70px;
  }
  .form_sing_up {
    padding: 48px 25px;
  }

}


/* ANIMANTON */

.dot-elastic {
  position: relative;
  display: inline-block;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f7ddcb;
  color: #f7ddcb;
  display: inline-block;
  margin: 0 2px;
  animation: dot-grow 1s linear infinite;
}

.dot.dot1 {
  animation-delay: 0s;
}

.dot.dot2 {
  animation-delay: 0.33s;
}

.dot.dot3 {
  animation-delay: 0.66s;
}

@keyframes dot-grow {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.5);
  }
} 


.back_btn {
  position: absolute;
  z-index: 2;
  display: flex;
  margin: 24px;
}

.chat-admin a {
  display: flex;
  align-content: stretch;
  justify-content: space-around;
}

.chat_delete p {
  display: flex;
  margin-top: 6px;
  justify-content: space-between;
}

input {
  color: white;
}

@media (max-width: 1199px) {

  .start_chat_part .content {
    height: 100vh;
    flex-grow: 9;
    padding: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
    position: sticky;
    top: 0;
    width: 75%;
    padding-top: unset;
  }

  .chat_content {
    width: 100%;
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 86%;
    padding-top: 45%;
    /* z-index: 99999999 !important; */
}

  .chat-menu {
    background: #1A1A1A;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

.chat-profile-bar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: #131313;
    border-bottom: 1px solid #3F3F46;
    padding: 18px 20px;
    position: absolute;
    margin-top: 64px;
    z-index: 1;
}

.start_chat_part .sidebar {
  max-width: unset;
  transition: all 0.3s;
  width: 100%;
  background: #1A1A1A;
  border-left: 1px solid;
  padding-top: 64px;
}

.chat_mobile {
    background: #1A1A1A;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding-top: 80px !important;
}
.chat_delete p {
  display: flex;
  margin-top: 6px;
  justify-content: space-evenly;
}
.send_message p {
  background: rgb(38 38 38);
  font-weight: 500;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 0 15px 15px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin: 0;
}
}


/* new loader image while sending */

/* .show_picture {
  background: #1A1A1A;
  border: 1px solid #3F3F46;
  border-radius: 10px;
  max-width: 450px;
  margin-top: 30px;
  text-align: center;
  padding: 130px 30px 170px;
} */

/* .picture_circle {
  width: 130px;
  height: 130px;
  border: 5px solid #B473E0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
} */

.picture_circle p {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  color: #B473E0;
}

.show_picture h5 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0px;
  color: #fff;
}

.show_picture h6 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}



.register_btn {
  /* width: 90px; */
  /* padding: 5px 20px; */
  border: 2px solid #B473E0;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  /* font-size: 14px; */
  font-weight: 600;
  color: #B473E0;
  line-height: 1.25;
}
.login_btn {
  /* width: 90px;
  padding: 5px 20px; */
  border: 2px solid #B473E0;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 14px;
  background: #B473E0;
  /* font-weight: 600; */
  color: #fff;
  line-height: 1.25;
}




.show_picture {
  background: #1A1A1A;
  border: 1px solid #3F3F46;
  border-radius: 10px;
  max-width: 450px;
  margin-top: 30px;
  text-align: center;
  padding: 0px 30px 0px;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.picture_circle {
  width: 130px;
  height: 130px;
  border: 5px solid #B473E0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
   margin: 0 auto;
  position: relative;
}

#loading-progress {
  position: absolute;
  margin: 0;
  color: #B473E0;
  left: 0;
  right: 0;
  height: 79%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 35px;
}

textarea#type_message {
  resize: vertical;
  width: 100%;
  background: #252525;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 12px 15px;
  outline: none;
  height: 46px;
  overflow-x: hidden; /* hides horizontal scrollbar */
  overflow-y: hidden; /* hides vertical scrollbar */
}

form#paymentForm {
  margin-bottom: 20px;
}